/* 
    Blue - #578fce 
    Yellow - #e1b74b
    Grey - #e4e8ef
*/

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    color: rgb(76, 76, 76);
    grid-template-columns: 20% 80%;
    grid-template-rows: min(100%);
}

input {
    border-radius: 15px;
    border: none;
    background-color: #e4e8ef;
}

img {
    width: 28px;
}

h2 {
    font-size: 1em;
}

small, h2, h3 {
    margin-left: 20px;
}

small, strong, h2, h3, h4 {
    color: black;
}

small {
    font-weight: 600;
}


#upperRightBtns button {
    background-color: #578fce;
    border-radius: 12px;
    border: none;
    color: white;
    padding: 5px 20px;
}

.leftMenu {
    color: white;
    background-color: #578fce;
}

.rightMain {
    display: grid;
    grid-template-rows: 15% 85%;
}

.searchBarGreeting {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#upperHeaderRow, #lowerHeaderRow {
    flex: 1;
    width: 50%;
}

#lowerHeaderRow {
    display: flex;
}

#topAside, #bottomAside {
    border-radius: 10px;
    background-color: white;
}

.cardsContainer {
    background: linear-gradient(rgb(203, 203, 203), #e4e8ef 1%);
}

.cardsContainer section#cards {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: 30% 30%;
    grid-template-rows: repeat(3, 40%);
}

.cardsContainer section div {
    padding: 20px 10px 0;
    background-color: white;
    border-radius: 8px;
    border-left: 6px solid #e1b74b;
    box-shadow: 0 0 20px 0 rgb(171, 170, 170);
}