/* 
    Blue - #578fce 
    Yellow - #e1b74b
    Grey - #e4e8ef
*/

* { margin: 0; padding: 0; box-sizing: border-box;}

a { text-decoration: none; }

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: rgb(76, 76, 76);
    background-color: #e4e8ef;
    color: #000;
}

button { border: none; background-color: transparent; }

header { 
    background-color: #fff;
    box-shadow: 0 0.2em 0.2em rgb(0 0 0 / 30%);
    padding-bottom: 0.5em;
}

header div {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

header div form {  flex: 1; 
    margin: 10px 0;}

header div form label {  display: none; }

h2 {
    font-size: 1em;
}

input {
    border-radius: 15px;
    border: none;
    background-color: #e4e8ef;
}

img {
    width: 28px;
}

li {
    list-style: none;
}

main {
    display: grid;
    grid-template-columns: 1fr 290px;
}

small, h2, h3 {
    margin-left: 20px;
}

small, strong, h2, h3, h4 {
    color: black;
}

small {
    font-weight: 600;
}

#cards section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

#cards div {
    width: 42%;
    height: 200px;
    margin: 10px;
    border-left: 8px solid #fbd268;
}

#cards div,
#sidebar div {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#cards div h3 {
    margin-top: 15px;
    font-size: 1.2em;
    font-weight: 600;
}

#cards div p {
    margin-top: 20px;
    font-size: 0.8em;
    font-weight: 600;
}

#cards div p span {
    font-weight: 400;
}

#cards i {
    float: right;
    margin-right: 5px;
}

#left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100vh;
    background: #578fce;
    padding: 20px 0 0 15px;
}

#left h2, #left a {
    color: #fff;
}

#left ul {
    margin-top: 20px;
}

#left ul li {
    margin: 5px 0;
}

#left ul li a {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

#left ul li a:hover {
    background-color: #e1b74b;
}

#left ul li a:hover img {
    filter: invert(1);
}

#left ul li a img {
    margin-right: 10px;
}

#left ul li a span {
    font-size: 0.8em;
}

#left ul li a.active {
    background-color: #e1b74b;
}

#left ul li a.active img {
    filter: invert(1);
}

#left ul li a span:hover,
#left ul li a.active span,
#left ul li a.active span:hover {
    color: #fff;
}

#right {
    grid-column-start: 2;
    grid-column-end: 3;
}

#right h2 {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: 600;
}

#right h3 {
    margin-top: 10px;
    font-size: 1em;
    font-weight: 600;
}

#right p {
    margin-top: 10px;
    font-size: 0.8em;
    font-weight: 600;
}

#right p span {
    font-weight: 400;
}

#right p span:hover {
    color: #e1b74b;
}

#right p span:hover a {
    color: #e1b74b;
}

#right p span a {
    color: #578fce;
}

#right p span a:hover {
    color: #e1b74b;
}

#right p span a:hover img {
    filter: invert(1);
}

#right p span a img {
    margin-right: 10px;
}

#right p span a span {
    font-size: 0.8em;
}

#right p span a span:hover {
    color: #fff;
}

#right p span a.active {
    background-color: #e1b74b;
}

#right p span a.active img {
    filter: invert(1);
}

#right p span a.active span,

#right p span a.active span:hover {
    color: #fff;
}

#right p span a.active span:hover {
    color: #fff;
}

#right header div:first-child,
#right header div:last-child {
    display: flex;
}

#right header div:first-child div,
#right header div:last-child div {
    flex: 1;
}

#sidebar {
    margin-right: 20px;
}

#sidebar h2 {
    margin-top: 20px;
    font-size: 1.2em;
    font-weight: 600;
}

#sidebar div {
    margin-top: 10px;
}

#top-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#top-right-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#trending ul li {
    display: grid; 
    grid-template-columns: 1fr 3fr; 
}

#trending ul li img {
    align-self: center;
}

#trending h3 {
    margin-left: 0;
}

.blue-rounded { 
    background-color: #578fce; 
    color: white;
    font-weight: bold;
    width: 75px; 
    height: 25px; 
    border-radius: 12px; 
}

.container {
    /* width: 100%; */
    /* height: 100vh; */
    display: grid;
    grid-template-columns: 250px 1fr;
}

.container div h2 {
    font-size: 1.5em;
    font-weight: 600;
}

.container div p {
    font-size: 0.8em;
    font-weight: 600;
}

.container div p span {
    font-weight: 400;
}

.container div p span a {
    color: #578fce;
}

.container div p span a:hover {
    text-decoration: underline;
}

.container div p span a:active,
.container div p span a:visited,
.container div p span a:link {
    color: #e1b74b;
}

.fa-magnifying-glass {
    margin: 0 10px 0 20px;
}

.yellow-circle-bg { 
    background-color: #fbd268; 
    border-radius: 50%; width: 24px;
    height: 24px;
    padding: 4px 0 0 4px;
    margin-left: 20px;
}
