* {
    padding: 0;
}

li {
    display: inline;
}

/* Delete this */
@font-face {
    font-family: "MyFont";
    src: url("../my-font.ttf") format("ttf");
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;  
    font-family: "MyFont";
}
/* Delete this */