* {
    padding: 0;
}

li { list-style-type: none; display: inline-block; margin-right: 10px;}

/* Delete this */
@font-face {
    font-family: "MyFont";
    src: url("../my-font.ttf") format("ttf");
    font-weight: 600;
    font-style: normal;
}
